LightPink{color:#FFB6C1,};
Pink{color:#FFC0CB,};
Crimson{color:#DC143C,};
LavenderBlush{color:#FFF0F5,};
PaleVioletRed{color:#DB7093,};
HotPink{color:#FF69B4,};
DeepPink{color:#FF1493,};
MediumVioletRed{color:#C71585,};
Orchid{color:#DA70D6,};
Thistle{color:#D8BFD8,};
plum{color:#DDA0DD,};
Violet{color:#EE82EE,};
BrightPurple{color:#FF00FF,};
PurePurple{color:#FF00FF,};
DarkPurple{color:#8B008B,};
Purple{color:#800080,};
MediumOrchid{color:#BA55D3,};
DarkVoilet{color:#9400D3,};
DarkOrchid{color:#9932CC,};
Indigo{color:#4B0082,};
BlueViolet{color:#8A2BE2,};
MediumPurple{color:#9370DB,};
MediumSlateBlue{color:#7B68EE,};
SlateBlue{color:#6A5ACD,};
DarkSlateBlue{color:#483D8B,};
Lavender{color:#E6E6FA,};
GhostWhite{color:#F8F8FF,};
IndigoBlue{color:#0000FF,};
Blue{color:#0000FF,};
MediumBlue{color:#0000CD,};
MidnightBlue{color:#191970,};
DarkBlue{color:#00008B,};
Navy{color:#000080,};
RoyalBlue{color:#4169E1,};
CornflowerBlue{color:#6495ED,};
LightSteelBlue{color:#B0C4DE,};
LightSlateGray{color:#778899,};
SlateGray{color:#708090,};
DodgerBlue{color:#1E90FF,};
AliceBlue{color:#F0F8FF,};
SteelBlue{color:#4682B4,};
LightSkyBlue{color:#87CEFA,};
SkyBlue{color:#87CEEB,};
DeepSkyBlue{color:#00BFFF,};
LightBLue{color:#ADD8E6,};
PowDerBlue{color:#B0E0E6,};
CadetBlue{color:#5F9EA0,};
Azure{color:#F0FFFF,};
LightCyan{color:#E1FFFF,};
PaleTurquoise{color:#AFEEEE,};
Cyan{color:#00FFFF,};
Aqua{color:#00FFFF,};
DarkTurquoise{color:#00CED1,};
DarkSlateGray{color:#2F4F4F,};
DarkCyan{color:#008B8B,};
Teal{color:#008080,};
MediumTurquoise{color:#48D1CC,};
LightSeaGreen{color:#20B2AA,};
Turquoise{color:#40E0D0,};
BabyGreen{color:#7FFFAA,};
MediumAquamarine{color:#00FA9A,};
MediumSpringGreen{color:#F5FFFA,};
MintCream{color:#00FF7F,};
SpringGreen{color:#3CB371,};
SeaGreen{color:#2E8B57,};
Honeydew{color:#F0FFF0,};
LightGreen{color:#90EE90,};
PaleGreen{color:#98FB98,};
DarkSeaGreen{color:#8FBC8F,};
LimeGreen{color:#32CD32,};
Lime{color:#00FF00,};
ForestGreen{color:#228B22,};
Green{color:#00FF00,};
DarkGreen{color:#006400,};
Chartreuse{color:#7FFF00,};
LawnGreen{color:#7CFC00,};
GreenYellow{color:#ADFF2F,};
OliveDrab{color:#556B2F,};
Beige{color:#6B8E23,};
LightGoldenrodYellow{color:#FAFAD2,};
Ivory{color:#FFFFF0,};
LightYellow{color:#FFFFE0,};
LemonYellow{color:#FFFF00,};
Yellow{color:#FFFF00,};
Olive{color:#808000,};
DarkKhaki{color:#BDB76B,};
LemonChiffon{color:#FFFACD,};
PaleGodenrod{color:#EEE8AA,};
Khaki{color:#F0E68C,};
Gold{color:#FFD700,};
Cornislk{color:#FFF8DC,};
GoldEnrod{color:#DAA520,};
FloralWhite{color:#FFFAF0,};
OldLace{color:#FDF5E6,};
Wheat{color:#F5DEB3,};
Moccasin{color:#FFE4B5,};
Orange{color:#FFA500,};
PapayaWhip{color:#FFEFD5,};
BlanchedAlmond{color:#FFEBCD,};
NavajoWhite{color:#FFDEAD,};
AntiqueWhite{color:#FAEBD7,};
Tan{color:#D2B48C,};
BrulyWood{color:#DEB887,};
Bisque{color:#FFE4C4,};
DarkOrange{color:#FF8C00,};
Linen{color:#FAF0E6,};
Peru{color:#CD853F,};
PeachPuff{color:#FFDAB9,};
SandyBrown{color:#F4A460,};
Chocolate{color:#D2691E,};
SaddleBrown{color:#8B4513,};
SeaShell{color:#FFF5EE,};
Sienna{color:#A0522D,};
LightSalmon{color:#FFA07A,};
Coral{color:#FF7F50,};
OrangeRed{color:#FF4500,};
DarkSalmon{color:#E9967A,};
Tomato{color:#FF6347,};
MistyRose{color:#FFE4E1,};
Salmon{color:#FA8072,};
Snow{color:#FFFAFA,};
LightCoral{color:#F08080,};
RosyBrown{color:#BC8F8F,};
IndianRed{color:#CD5C5C,};
Red{color:#FF0000,};
Brown{color:#A52A2A,};
FireBrick{color:#B22222,};
DarkRed{color:#8B0000,};
Maroon{color:#800000,};
White{color:#FFFFFF,};
WhiteSmoke{color:#F5F5F5,};
Gainsboro{color:#DCDCDC,};
LightGray{color:#D3D3D3,};
Silver{color:#C0C0C0,};
DarkGray{color:#A9A9A9,};
Gray{color:#808080,};
DimGray{color:#696969,};
Black{color:#000000:,};